* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section1 {
    background-color: hsl(193, 100%, 96%);
    background-image: url(./images/bg-hero-mobile.svg);
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 28px;
}

nav button {
    color: hsl(192, 100%, 9%);
    width: 33%;
    height: 30px;
    border-radius: 30px;
    border: none;
    background-color: white;
    box-shadow: 2px 2px 2px 1px hsl(216, 2%, 41%);
    font-family: 'Poppins', sans-serif;

}

article {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 32px;
}

article.container1 h3 {
    font-family: 'Poppins', sans-serif;
    color: hsl(192, 100%, 9%);
    padding: 20px;
    font-size: 25px;
}

article.container1 p {
    font-family: 'Open Sans', sans-serif; 
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

article.container1 p span {
    display: block;
    color: hsl(192, 100%, 9%)

}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.btn button {
    width: 260px;
    height: 40px;
    background-color:  hsl(322, 100%, 66%);
    border: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
}

