* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section1 {
    background-color: hsl(193, 100%, 96%);
    background-image: url(./images/bg-hero-mobile.svg);
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 28px;
}

nav button {
    color: hsl(192, 100%, 9%);
    width: 33%;
    height: 30px;
    border-radius: 30px;
    border: none;
    background-color: white;
    box-shadow: 2px 2px 2px 1px hsl(216, 2%, 41%);
    font-family: 'Poppins', sans-serif;

}
